
/*@media screen and (min-width: 990px) and (max-width: 1300px) {
    .box_2 {
        padding: 25px;
    }

    .list_3 {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .list_3>.lis_3_item {
        padding-left: 25px;
        padding-right: 25px;
    }

    .list_3>.lis_3_item_text {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .lis_3_item_text .text_1 {
        margin-top: 15px;
        margin-bottom: 30px;
    }
}*/


/*// 等于或大于  62*16 = 992px（pc窄屏）*/
/*@media (max-width: 992px) {

    .con {
        padding-left: 50px;
        padding-right: 50px;
    }

    .con_2 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .footer_nav {
        margin-bottom: 40px;
    }

    .footer_nav>a {
        height: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .paging {
        margin-top: 20px;
    }

    .box_1 {
        padding-bottom: 50px;
    }

    .box_2 {
        padding: 25px;
    }


    .nav li {
        margin-right: 30px;
    }

    .list_3 {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .list_3>.lis_3_item {
        padding-left: 25px;
        padding-right: 25px;
    }

    .list_3>.lis_3_item_text {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .lis_3_item_text .text_1 {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .list_4_item {
        padding: 25px;
    }

    .list_5 {
        margin-left: -15px;
        margin-right: -15px;
    }

    .list_5>div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .list_6 {
        margin-left: -10px;
        margin-right: -10px;
    }

    .list_6_item {
        width: 50%;
        padding: 10px;
    }

    .list_6_title {
        margin: 10px 10px 7px;
    }


    .text_3 {
        padding-left: 70px;
        padding-right: 70px;
    }


    .label_3 {

        padding-left: 50px;

        margin-top: 30px;
    }

    .label_3>i {
        height: 30px;
        width: 30px;
        top: -3px;
    }




    .m_top-30 {
        margin-top: 15px;
    }

    .m_top-40 {
        margin-top: 20px;
    }

    .m_top-50 {
        margin-top: 25px;
    }

    .m_top-80 {
        margin-top: 40px;
    }

    .m_top-90 {
        margin-top: 45px;
    }

    .m_top-100 {
        margin-top: 50px;
    }

    .p_top-30 {
        padding-top: 15px;
    }

    .p_top-40 {
        padding-top: 20px;
    }

    .p_top-100 {
        padding-top: 50px;
    }

    .p_top-120 {
        padding-top: 60px;
    }

    .p_top-200 {
        padding-top: 100px;
    }

    .p_bottom-100 {
        padding-bottom: 50px;
    }

    .p_left-50 {
        padding-left: 25px;
    }

    .p_right-50 {
        padding-right: 25px;
    }

}*/


/*// 等于或大于 48*16 = 768px(平板竖屏)*/
/*@media (max-width: 768px) {
    
    .logo img{
        height: auto;
        width: 280px;
    }

    .con_2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .title_2,
    .title_3 {
        font-size: 30px;
        line-height: 40px;
    }

    .title_2:after,
    .title_3:after {

        margin-top: 10px;
    }

    .nav_tab_btn{
        display: block;
    }
    
    .box_3{
        display: block;
    }
    .box_3 .link_1{
        text-align: right;
        margin-top: 10px;
    }
    .nav_box{
        display: none;
        width: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 69px;

        padding: 0 20px 20px;
    }
    .nav{
        width: 100%;
    }
    .nav>li{
        width: 100%;
        margin-right: 0;
    }
    .nav>li>a{
        height: 40px;
        line-height: 40px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .language{
        margin-top: 10px;
    }

    .footer_nav>a {

        margin-left: 20px;
        margin-right: 20px;
    }


    .banner_txt h1 {
        width: auto;
        line-height: 60px;
    }

    .banner_nav_list a {

        margin-right: 20px;
        padding-bottom: 50px;
    }

    .banner_nav_list a:after {
        height: 45px;
    }

    .box_1 {
        padding-bottom: 20px;
    }

    .box_2 {
        padding: 10px;
    }

    .box_4>div {
        width: 100%;
        float: left;
    }

    .text_box_1 {
        display: block;
    }

    .nav li {
        margin-right: 30px;
    }

    .list_3 {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .list_3>.lis_3_item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .list_3>.lis_3_item_img {

        margin-top: 20px;
    }

    .list_3>.lis_3_item_img>img {
        width: 100%;
    }

    .list_3>.lis_3_item_text {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .lis_3_item_text .text_1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .list_4 {
        display: block;
    }

    .list_4_item {
        padding: 10px;
    }

    .list_5 {
        margin-left: -10px;
        margin-right: -10px;
    }

    .list_5>div {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .list_5>div.list_5_text {
        margin-top: 20px;
    }



    .list_6_item {
        width: 100%;
        padding: 10px;
    }

    .list_6_title {
        margin: 10px 10px 7px;
    }

    .img_list-3 {
        margin-left: -10px;
        margin-right: -10px;

    }

    .img_list-3>li {
        padding: 10px;

        width: 100%;


    }


    .text_3 {
        padding-left: 0;
        padding-right: 0;
    }

    .label_3 {
        margin-top: 20px;
    }

    .m_top-30 {
        margin-top: 10px;
    }

    .m_top-40 {
        margin-top: 10px;
    }

    .m_top-50 {
        margin-top: 10px;
    }

    .m_top-80 {
        margin-top: 20px;
    }

    .m_top-90 {
        margin-top: 20px;
    }

    .m_top-100 {
        margin-top: 50px;
    }

    .p_top-30 {
        padding-top: 15px;
    }

    .p_top-40 {
        padding-top: 20px;
    }

    .p_top-100 {
        padding-top: 50px;
    }

    .p_top-120 {
        padding-top: 60px;
    }

    .p_top-200 {
        padding-top: 100px;
    }

    .p_bottom-100 {
        padding-bottom: 50px;
    }

    .p_left-50 {
        padding-left: 10px;
    }

    .p_right-50 {
        padding-right: 10px;
    }

    .s_m_top-20 {
        margin-top: 20px;
    }

    .s_m_bottom-20 {
        margin-bottom: 20px;
    }

    .roll_btn{
        height: 40px;
        width: 40px;
    }
    .roll_btn.left_btn{
        left: 20px;
    }
    .roll_btn.right_btn{
        right: 20px;
    }
}*/

/*// 等于或大于 34*16 = 544px（手机横屏）*/
@media (max-width: 544px) {
    .logo img{
        height: auto;
        width: 280px;
    }
    .nav_tab_btn{
        display: block;
    }
    .nav_box{
        display: none;
        width: 100%;
        height: 100%;
        background: #00C496;
        position: fixed;
        left: 0;
        top: 69px;

        padding: 0 20px 20px;
    }
    .nav{
        width: 100%;
    }
    .nav>li{
        width: 100%;
        margin-right: 0;
    }
    .nav>li>a{
        height: 40px;
        line-height: 40px;
        padding-right: 10px;
        padding-left: 10px;
        color: #fff;
    }
    .nav>li>div{
        position: initial;
        display: block;
        margin-left: 40px;
    }

    .nav>li:hover>a,
    .nav>li.active>a {
        border-bottom: none;
    }
    
    .header.toggle {
        background: #00C496;
    }
    .header.toggle .logo img.logo2{
        display: block;
    }
    .header.toggle .logo img.logo1{
        display: none;
    }

    .language{
        margin-top: 10px;
    }

    .header-2 .nav>li>div>a{
        color: #fff
    }
    .header-2 .nav>li>a{
        color: #fff
    }
    .header-2 .nav>li.active>a,
    .header-2 .nav>li:hover>a{
        border-bottom: 1px solid #fff;
    }

    .header-2 .language{
        color: #666
    }
    .header-2 .language:after{
        border-color:  #666 transparent transparent;
    }
    .header-2 .language>div,
    .header-2 .language>ul{
        background: #fff;
    }


    .main{
        width: 100%;
        min-width: 100%;
        padding-bottom: 540px;

    }
    .banner_text {
        text-align: left; 
        padding-right: 107px !important;;
    }
    .con {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .s-footer_box{
        flex-direction: column
    }
    .s-footer_box .a{
        margin-bottom: 40px;
    }
    .s-footer_box .b{
        margin: 0 0 20px;
        flex: 1;
    }

    .s-title {
        padding-top: 100px;
        padding-bottom: 30px;
        font-size: 40px;
    }
    .s-title2 {
        font-size: 30px;
        line-height: 30px;
    }

    /*边距*/
    .m-t_72{
        margin-top: 30px;
    }
    .m-b_72{
        margin-bottom: 30px;
    }
    .m-t_48{
        margin-top: 20px;
    }
    .m-t_24{
        margin-top: 12px;
    }
    .m-b_36{
        margin-bottom: 16px;
    }
    .m-b_18{
        margin-bottom: 10px;
    }

    .s-list_1>li{
        /*width: 33.33%;*/
        height: 78px;
    }
    .s-list_1 .s-item{
        padding-top: 0;
    }
    .s-list_1 .s-item>img{
        width: 40px;
        height: 40px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .s-list_1 .s-item a,
    .s-list_1 .s-item p{
        display: none;
    }

    .s-list_2 li{
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .s-list_3 {
        margin-top: 20px;
    }
    .s-list_3>li{
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
        height: auto;
        padding-bottom: 15px;
    }
    
    .s-list_4{
        margin-top: 30px;
    }
    .s-list_4>li{
        margin-left: 0;
        margin-bottom: 15px;
    }
    

    .s-list_5>li{
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .s-list_6 li{
        margin-left: 0;
        margin-bottom: 15px;
    }

    .s-img_box .s-img_bg {
        height: 100px;
    }

    .s-list_7 li{
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .s-list_8 li{
        margin-left: 0;
        margin-bottom: 15px;
        width: 100%;
    }
    
    .s-list_9{
        margin-left: 0;
        margin-top: 20px;
    }
    .s-list_9 li{
        float: initial;
        margin: 0 auto 15px;
    }

    .s-div_10{
        line-height: 20px;
        padding: 15px ;
        margin-top: 30px;
    }

    .s-list_9 .s-message {
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .s-div_11{
        height: auto;
        overflow: hidden;
    }
    .s-div_11 .s-box_l{
        width: 100%;
        height: 300px;
        float: left;

    }
    .s-div_11 .s-box_r{
        width: 100%;
        height: auto;
    }
    .s-div_11 .s-box_r .a{
        padding: 15px 15px 0;
    }
    .s-div_11 .s-box_r .b{
        padding: 15px
    }
    .s-div_11 .s-box_r .c{
        padding-bottom: 15px;
    }
    .s-div_11 .s-box_r .c img {
        width: 30px;
        height: 25px;
    }
    .s-div_11 .s-box_r .c div{
        margin-left: 15px;
        margin-right: 15px;
    }

    .s-div_11 .s-box_r .c{

    }


    .s-list_12 {
        margin-left: 0;
        margin-top: 40px;
    }
    
    .s-list_12 li{
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .s-add-btn {
        /*float: initial;*/
        margin: 0 auto
    }
    
    .s-list_13{
        margin-left: 0;
    }
    .s-list_13 li{
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    .s-list_13 li p {
        padding-top: 12px;
        padding-bottom: 10px;
    }

    .s-list_14{
        padding: 15px 0;
    }

    .s-list_14 li{
        flex-direction: column;
    }

    .s-list_14 li img {
        width: 100%;
        margin-right: 0;
    }
    .s-list_14 li .a p{
        padding-top: 12px;
        margin-bottom: 10px;
    }

    .s-map .a {
        width: 100%;
        height: 180px;
    }
    .s-map .b {
        width: 100%;
        height: 180px;
    }
    .s-list_15{
        margin-top: 30px;
        margin-left: 0;
    }

    .s-list_15 li{
        margin-left: 0;
        width: 100%;
        margin-bottom: 25px;
        height: auto;
    }

}