
/*中文*/

@font-face {
    font-family: 'Alibaba-PuHuiTi-Bold';
    src: url('../fonts/Alibaba-PuHuiTi-Bold.ttf');
}
@font-face {
    font-family: 'Alibaba-PuHuiTi-Regular';
    src: url('../fonts/Alibaba-PuHuiTi-Regular.ttf');
}

@font-face {
    font-family: 'Axisstd-bold';
    src: url('../fonts/Axisstd-bold.otf');
}
@font-face {
    font-family: 'Axisstd-regular';
    src: url('../fonts/Axisstd-regular.otf');
}
@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.otf');
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.otf');
}