
/*中文*/

@font-face {
    font-family: 'Alibaba-PuHuiTi-Bold';
    src: url('../fonts/Alibaba-PuHuiTi-Bold.ttf');
}
@font-face {
    font-family: 'Alibaba-PuHuiTi-Regular';
    src: url('../fonts/Alibaba-PuHuiTi-Regular.ttf');
}