html,body{
    height: 100%;
    margin: auto;
}
*{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
}
.main {
    position: relative;
    overflow: hidden;
    padding-bottom: 288px;
    min-height: 100%;
    min-width: 1300px;
}

/*header*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 16px;
    padding-bottom: 16px;
}
.header.con{
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
}
.con {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
}

.footer {
    padding-top: 80px;
    padding-bottom: 24px;
    background: #F0F5F4;
    -moz-background-size: cover;
         background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.s-footer_box{
    display: flex;
    align-items: center;
}
.s-footer_box .a{
    padding: 20px 0;
    width: 345px;
}

.s-footer_box .b{
    margin: 0 80px;
    flex: 1;
}
.s-footer_box .b a{
    display: block;
    
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
}
.s-footer_box .b a:last-child{
    margin-bottom: 0
}
.s-footer_box .b a img{
    height: 16px;
    margin-right: 10px;
}
.s-footer_box .b a span{
    padding: 4px 12px;
    font-size: 12px;
    display: inline-block;
    
    background: #00C496;
    border-radius: 18px;
    margin-left: 10px;
    color: #fff
}


.s-footer_box .c{
    overflow: hidden;
}
.s-footer_box .c div{
    float: left;
    width: 120px;
}
.s-footer_box .c div:last-child{
    margin-left: 48px;
}
.s-footer_box .c div img{
    display: block;
    width: 120px;
    height: 120px;
    /*margin-bottom: */
}
.s-footer_box .c div p{
    text-align: center;
}

.footer .d{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    text-align: justify;
    line-height: 12px;
    text-align: center;
    margin-top: 40px;
    line-height: 18px;
}



/*分页*/
.paging {
    margin-top: 40px;
}

.pag_list {
    float: right;
}

.pag_list>a {
    display: block;
    float: left;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    font-family: Helvetica,Arial,sans-serif
}

.pag_list>a.active {
    font-weight: bold;
    font-family: Butler-Bold,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}


.box_1 {
    background: #fff;
    padding-bottom: 90px;
}

.box_2 {
    padding: 50px;
    background: #fff;
}

.box_6 {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px dashed #C49E56;
}


.hander_con {
    /*padding-top: 30px;
    padding-bottom: */

}

.header_box {


    /*width: 1180px;*/
    /*margin: 0 auto;*/
}

.logo {
    /*display: block;*/
}

.logo img {
    height: 14.1px;
    margin-top: 8px;
    display: block;
    float: left;
}
.logo img.logo2{
    display: none;
}

.nav_box {
    float: right;

}

.nav {
    float: left;
    /*height: 25px;*/
    /*margin-right: 50px;*/
}

.nav>li {
    float: left;
    padding-right: 36px;
    position: relative;
}
.nav>li>div{
    position: absolute;
    width: 100px;
    top: 30px;
    left: 0;
    display: none;
}
.nav>li>div>a{
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}


.nav>li>a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-family: Helvetica,Arial,sans-serif
}

.nav>li.active>a,
.nav>li:hover>a{
    border-bottom: 1px solid #fff;
    /*opacity: 1;*/
}
.nav>li:hover>div{
    display: block;
}



.language {
    float: left;
    width: 36px;
    height: 16px;
    font-family: Gotham-Medium;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    line-height: 16px;
    cursor: pointer;
    background: #fff;
    position: relative;
    margin-top: 7px;
}
.language:after{
    content: '';
    width: 0;
    height: 0;
    border: 3px solid;
    border-color:  #666666 transparent transparent;
    position: absolute;

    right: 4px;
    top: 6px;
}
.language>div{
    box-sizing: border-box;
    padding-left: 5px;
}
.language>ul{
    background: #fff;
    display: none;
}
.language>ul>li{
    box-sizing: border-box;
    padding-left: 5px;
}

.language.on>ul{
    display: block;
}

.nav_tab_btn {
    display: none;
    float: right;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.nav_tab_btn>i {
    display: block;
    width: 20px;
    height: 20px;
    /*margin-top: 9px;*/
    margin-left: 9px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
}

.nav_tab_btn>i:after {
    content: '';
    display: block;
    height: 2px;
    background: #999;
    margin-top: 7px;
}

.header.toggle {
    background: #fff;
}

.header.toggle .nav_box {
    display: block;
}

.header.toggle .nav_tab_btn>i {
    border-color: #fff;
}

.header.toggle .nav_tab_btn>i:after {
    background: #fff;
}

/**/

.header-2 .nav>li>div>a{
    color: #999
}
.header-2 .nav>li>a{
    color: #999
}
.header-2 .nav>li.active>a,
.header-2 .nav>li:hover>a{
    border-bottom: 1px solid #999;
}

.header-2 .language{
    color: #fff
}
.header-2 .language:after{
    border-color:  #fff transparent transparent;
}
.header-2 .language>div,
.header-2 .language>ul{
    background: #999;
}

/**/

.toggle.header-2 .nav>li>div>a{
    color: #fff
}
.toggle.header-2 .nav>li>a{
    color: #fff
}
.toggle.header-2 .nav>li.active>a,
.toggle.header-2 .nav>li:hover>a{
    border-bottom: 1px solid #fff;
}

.toggle.header-2 .language{
    color: #666
}
.toggle.header-2 .language:after{
    border-color:  #666 transparent transparent;
}
.toggle.header-2 .language>div,
.toggle.header-2 .language>ul{
    background: #fff;
}



.s-title4{
    text-align: right;
    margin-top: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #00C496
}
.s-title4 a{
    display: inline-block;
    margin-left: 12px;
    background: #F0F5F4;
    border-radius: 15px;
    width: 72px;
    height: 30px;
    line-height: 30px;
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 18px;
    color: #00C496;
    letter-spacing: 0;
    text-align: center;
}


/*banner*/
.banner_box {
    width: 100%;
    height: 480px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

/*.banner{
    height: inherit;
    width: inherit;
}*/
.banner_list {
    height: inherit;
    width: inherit;
    position: relative;
}

.banner_item {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: relative;
    position: absolute;
    top: 0;
    bottom: 0;
}
.banner_list>.banner_item:first-child{
    opacity: 1;
}
.banner_item.active{
    opacity: 1;
}

.banner_img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner_item.active {
    display: block;
}


.banner_nav {
    width: inherit;
    height: 48px;
    background: rgba(0,0,0,.3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.banner_nav_list {
    position: absolute;
    height: 48px;
    right: 0;
    top: 0;
    background: #fff;
    overflow: hidden;
}

.banner_nav_list a {
    display: block;
    width: 48px;
    height: 48px;
    float: left;
}

.banner_nav_list .banner_nav_l{
    background: url(../img/icon-left.png) no-repeat center;
    background-size: 6.4px 11.2px;
}
.banner_nav_list .banner_nav_r{
    background: url(../img/icon-right.png) no-repeat center;
    background-size: 6.4px 11.2px;
}
.banner_nav_list .banner_nav_l:hover {
    background:#00C496 url(../img/icon-left-2.png) no-repeat center;
    background-size: 6.4px 11.2px;
}
.banner_nav_list .banner_nav_r:hover {
    background:#00C496 url(../img/icon-right-2.png) no-repeat center;
    background-size: 6.4px 11.2px;
}
.banner_text{
    text-align: center;
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: center;
}
.s-list_1{
    overflow: hidden;
    padding: 36px 0;

}
.s-list_1>li{
    float: left;
    width: 33.33%;
    height: 264px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}

.s-list_1>li .s-bg_img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .6s;
}


.s-list_1 .s-item{
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 158px;
}
.s-list_1 .s-item>img{
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 60px;
    left: 50%;
    margin-left: -40px
}
.s-list_1 .s-item .img2{
    opacity: 0
}

.s-list_1 .s-item>a{
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    background: #00C496;
    margin: 18px auto 0;
}
.s-list_1 .s-item>p{
    margin-top: 12px;
    font-size: 16px;
    color: #00C496;
    text-align: center;
}

.s-list_1>li:hover .s-bg_img {
    opacity: 1
}
.s-list_1>li:hover .s-item>a{
    background: #fff;
    color: #00C496;
}
.s-list_1>li:hover .s-item>p{
    color: #fff;
}

.s-list_1>li:hover .s-item .img1{
    opacity: 0
}
.s-list_1>li:hover .s-item .img2{
    opacity: 1
}


.s-index_2{
    height: 240px;
    overflow: hidden;
    margin-bottom: 120px

}
.s-list_2{
    overflow: hidden;
}

.s-list_2 li{
    width: 582px;
    height: 240px;
    float: left;
    margin-right: 36px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}
.s-list_2 li>.s-bg_img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.s-list_2 li:last-child{
    margin-right: 0
}

.s-list_2 li .s-text{
    line-height: 240px;
    text-align: center;
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    z-index: 1
}

/*标题*/

.s-title{
    padding-top: 140px;
    padding-bottom: 72px;
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 72px;
    color: #00C496;
    letter-spacing: 0;
    font-weight: 100;
}
.s-title2{
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: #00C496;
}
.s-title3{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 24px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
}

/*边距*/
.m-t_72{
    margin-top: 72px;
}
.m-b_72{
    margin-bottom: 72px;
}
.m-t_48{
    margin-top: 48px;
}
.m-t_24{
    margin-top: 24px;
}
.m-b_36{
    margin-bottom: 36px;
}
.m-b_18{
    margin-bottom: 18px;
}
.b-b{
    border-bottom: 1px solid #999
}

/*盒子*/
.s-box_bg{
    padding: 36px 0;
    background: #00C496
}


.s-list_3{
    overflow: hidden;
    margin-top: 48px;
}
.s-list_3>li{
    width: 376px;
    float: left;
    height: 168px;
    margin-left: 36px;
    border-bottom: 1px solid #999;

    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
}
.s-list_3>li:first-child{
    margin-left: 0
}

.s-list_4{
    overflow: hidden;
    margin-top: 72px;
}
.s-list_4>li{
    float: left;
    width: 376px;
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    color: #00C496;
    letter-spacing: 0;
    margin-left: 36px;
}
.s-list_4>li:first-child{
    margin-left: 0
}

.s-list_4>li p{
    font-size: 18px;
    line-height: 30px;
    margin-top: 12px;
}


.s-list_5{
    overflow: hidden;
}
.s-list_5>li{
    float: left;
    width: 376px;
    height: 376px;
    margin-left: 36px;
    position: relative;
    overflow: hidden;
}
.s-list_5>li:first-child{
    margin-left: 0
}

.s-list_5>li .s-bg_img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.s-list_5 li .s-text{
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    padding: 24px;
    box-sizing: border-box;
}
.s-list_5 li .s-text>h3{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}
.s-list_5 li .s-text>p{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
    overflow: hidden;
    height: 0;
    transition: all .6s;
}
.s-list_5 li:hover .s-text>p{
    height: 80px;
    margin-top: 12px
}


.s-list_6{
    overflow: hidden;
}
.s-list_6>li{
    float: left;
    width: 376px;
    margin-left: 36px;
    overflow: hidden;

    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
}
.s-list_6>li:first-child{
    margin-left: 0
}



.s-img_box .s-img_bg{
    height: 400px;
    width: 100%;
}

.s-list_7{
    overflow: hidden;
}
.s-list_7>li{
    float: left;
    width: 376px;
    margin-left: 36px;
    overflow: hidden;

    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
}
.s-list_7>li:first-child{
    margin-left: 0
}


.s-list_8{
    overflow: hidden;
}
.s-list_8>li{
    float: left;
    width: 582px;
    margin-left: 36px;
    overflow: hidden;

    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;

}
.s-list_8>li p{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    line-height: 18px;
    margin-bottom: 12px;
}
.s-list_8>li:first-child{
    margin-left: 0
}


.s-list_9{
    overflow: hidden;
    margin-left: -36px;
    margin-top: 50px;
}
.s-list_9>li{
    float: left;
    width: 273px;
    height: 180px;
    margin-left: 36px;
    margin-top: 36px;
    /*overflow: hidden;*/

    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
    position: relative;
    background: #00C496;
    border-radius: 6px;
}

.s-list_9>li p{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 18px;
    letter-spacing: 0;
    text-align: justify;
    line-height: 18px;
    margin-bottom: 12px;
}

.s-list_9>li:first-child{
}

.s-list_9>li .s-label{
    position: absolute;
    width: 83px;
    height: 83px;
    border-radius: 8px 0 0 0;
    overflow: hidden;
}
.s-list_9>li .s-label span{
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: Gotham-Medium;
    font-size: 20px;
    color: #00C496;
    letter-spacing: 0;
    text-align: center;
    z-index: 1;
}
.s-list_9>li .s-label:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 83px solid;
    border-color: #fff transparent transparent ;
    border-left: 0;
    position: absolute;
    top: 1px;
    left: 1px;
}
.s-list_9>li .s-msg{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    background: url(../img/card.png) no-repeat center;
    background-size: 100%;
    transition: all 1s;
    top: 0;
    left: 0;
}
.s-list_9>li:hover .s-msg{
    /*top: -12px;
    left: 24px;*/
    transform: translate(24px,-12px)
}
.s-list_9>li .s-msg p{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 18px;
    color: #00C496;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 20px
}
.s-list_9>li .s-msg span{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #00C496;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
}
.s-list_9 .s-message{
    float: left;
    width: 582px;
    height: 216px;
    margin-left: 36px;
    background: #00C496;
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
    box-sizing: border-box;
    padding: 28px;
    display: flex;
    align-items: center;
}

.s-div_10{
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
    text-align: justify;
    line-height: 64px;  
    text-align: center;  
    margin-top: 72px;
}


.s-div_11{
    height: 400px;
}
.s-div_11 .s-box_l{
    width: 400px;
    height: 400px;
    float: left;

}
.s-div_11 .s-box_l img{
    display: block;
    width: 100%;
    height: 100%;
}

.s-div_11 .s-box_r{
    width: 800px;
    height: 400px;
    float: left;
    background: #00C496;
}
.s-div_11 .s-box_r .a{
    padding: 47px 26px 0;
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
}
.s-div_11 .s-box_r .b{
    padding: 47px 26px
}
.s-div_11 .s-box_r .b p{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
}
.s-div_11 .s-box_r .c{
    display: flex;
}

.s-div_11 .s-box_r .c img{
    display: block;
    width: 72px;
    height: 64px;
}
.s-div_11 .s-box_r .c div{
    flex: 1;
    margin-left: 26px;
    margin-right: 26px;
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
}

/**/
.text_box_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-top: 90px;
}

.text_box_1>div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
}


.s-list_12{
    overflow: hidden;
    margin-left: -80px;
    margin-top: 96px;
}
.s-list_12 li{
    float: left;
    margin-left: 80px;
    margin-bottom: 48px;
    width: 240px;
    height: 400px;
}
.s-list_12 li img{
    height: 240px;
    width: 100%;
}
.s-list_12 li .a{
    margin-top: 20px;
    margin-bottom: 20px;
}
.s-list_12 li .a p{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
}
.s-list_12 li .a span{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 15px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 18px;
}
.s-list_12 li .b{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
}

.s-add-btn{
    float: left;
    margin-left: 80px;
    display: block;
    width: 240px;
    height: 240px;
    background: url(../img/add.png);
    background-size: 100%;
}

.s-add-btn:active{
    background: url(../img/add-on.png);
    background-size: 100%;
}


.s-list_13{
    overflow: hidden;
    margin-left: -36px;
}

.s-list_13 li{
    width: 376px;
    height: 350px;
    border-bottom: 6px solid #fff;
    float: left;
    margin-left: 36px;
}
.s-list_13 li:hover{
    border-bottom-color: #00C496
}
.s-list_13 li img{
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 6px;
}
.s-list_13 li p{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
    line-height: 18px;
    padding-top: 24px;
    padding-bottom: 13px;
}
.s-list_13 li div{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 14px;
}
.s-list_13 li div span{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 12px;
    padding: 2px 5px;
    background: #00C496;
    border-radius: 2px;
}

.s-list_14{
    /*overflow: hidden;*/
}

.s-list_14 li{
    padding: 24px 0;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
}
.s-list_14 li:hover{
    border-bottom-color: #00C496;
}

.s-list_14 li img{
    float: left;
    width: 376px;
    height: 250px;
    margin-right: 36px;
}

.s-list_14 li .a{
    float: left;
}
.s-list_14 li .a p{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 13px;
}
.s-list_14 li .a div{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 14px;
}
.s-list_14 li .a div span{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 12px;
    padding: 2px 5px;
    background: #00C496;
    border-radius: 2px;
}

.s-map{
    height: 400px;
}
.s-map .a{
    display: block;
    width: 800px;
    height: 400px;
    float: left;
}
.s-map .b{
    width: 400px;
    height: 400px;
    float: left;
    background: #00C496;
}

.s-list_15{
    overflow: hidden;
    margin-left: -36px;
    margin-top: 72px;
}
.s-list_15 li{
    float: left;
    width: 582px;
    height: 160px;
    margin-left: 36px;
}
.s-list_15 li div{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 24px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 22px;
}
.s-list_15 li p{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
}

/**/
.img_list-2>li {
    width: 288px;
    height: 480px;
    float: left;
    margin-right: 20px;
}

.img_list-2>li>div {
    width: inherit;
    height: inherit;
    position: relative;
    -webkit-transition: width .2s,height .2s,margin-top .2s,margin-left .2s;
    -moz-transition: width .2s,height .2s,margin-top .2s,margin-left .2s;
    transition: width .2s,height .2s,margin-top .2s,margin-left .2s;
}

.img_list-2>li>div:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: url(../img/mask.png) no-repeat center bottom;
    background-size: 100% auto;
    z-index: 1;
}

.img_list-2>li.active>div,
.img_list-2>li:hover>div {
    width: 318px;
    height: 528px;
    margin-top: -24px;
    margin-left: -15px;
}

@-webkit-keyframes myfirst
{
    0%   {
        width: 288px;
        height: 480px;
        margin-top: 0;
        margin-left: 0;
    }
    100% {
        width: 318px;
        height: 528px;
        margin-top: -24px;
        margin-left: -15px;
    }
}

@-moz-keyframes myfirst
{
    0%   {
        width: 288px;
        height: 480px;
        margin-top: 0;
        margin-left: 0;
    }
    100% {
        width: 318px;
        height: 528px;
        margin-top: -24px;
        margin-left: -15px;
    }
}

@keyframes myfirst
{
    0%   {
        width: 288px;
        height: 480px;
        margin-top: 0;
        margin-left: 0;
    }
    100% {
        width: 318px;
        height: 528px;
        margin-top: -24px;
        margin-left: -15px;
    }
}

/*===========公共 样式=============*/
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
}

/*m_top-25{

}*/
.m_top-30 {
    margin-top: 30px;
}
.m-top-32{
    margin-top: 32px;
}
.m_top-40 {
    margin-top: 40px;
}

.m_top-50 {
    margin-top: 50px;
}

.m_top-80 {
    margin-top: 80px;
}

.m_top-90 {
    margin-top: 90px;
}

.m_top-100 {
    margin-top: 100px;
}
.m_top-130 {
    margin-top: 130px;
}
.m_bottom-10{
    margin-bottom: 10px;
}
.m_bottom-30{
    margin-bottom: 30px;
}
.p_top-30 {
    padding-top: 30px;
}

.p_top-40 {
    padding-top: 40px;
}

.p_top_s-100 {
    padding-top: 100px;
}

.p_top-100 {
    padding-top: 100px;
}

.p_top-120 {
    padding-top: 120px;
}

.p_top-200 {
    padding-top: 200px;
}

.p_bottom-100 {
    padding-bottom: 100px;
}

.p_left-50 {
    padding-left: 50px;
}

.p_right-50 {
    padding-right: 50px;
}

.border_1 {
    border-top: 1px dashed #C49E57;
}

.float_r {
    float: right;
}

.t_align-r{
    text-align: right;
}

.popup{
   height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
.popup_box{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_con{
    padding: 20px;
    color: #fff;
    font-size: 14px;
    background: rgba(0,0,0,.7);
    border-radius: 6px;
    font-family: Helvetica,Arial,sans-serif
}
.hid{
    display: none;
}
.show{
    display: block !important;;
}
button {
    background: none;
    outline: none;
    border: none;
}

pre {
    display: block;
    font-family: -moz-fixed;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 1em 0;
}

.s-popup{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,196,150,0.5);
    z-index: 100;
    display: none;
}

.s-scale {
    overflow: hidden;
}
.s-scale .s-scale_img{
    transition: all 1s
}
.s-scale:hover .s-scale_img{
    transform: scale(1.1);
}

/*弹框*/
.s-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(240,245,244,.8);
    top: 0;
    left: 0;
    z-index: 1000;
    /*display: none;*/
}
.m_con{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background:#fff;
    border-radius: 8px;
    overflow: hidden;

    width: 1000px;
    height: 90%;

    box-sizing: border-box;
    padding-top: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,.5)
}
.m_con2{
    padding-top: 134px
}
.m-header{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00C496;
    box-sizing: border-box;
    padding: 0 36px;
    display: flex;
    align-items: center;
}
.m_con2 .m-header{
    height: 134px;
    background: #fff;
    border-bottom: 1px solid #E0E0E0;
}
.m-header .a{
    /*width: 230px;*/
    display: flex;
    align-items: center;
}
.m-header .a:last-child{
    justify-content: flex-end;
}

.m-header .b{
    flex:1;
    align-items: center;
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    /*text-align: center;*/
    line-height: 36px;
}
.m-header .c{
    flex: 1
}
.m-header .c p{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 36px;
    color: #00C496;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 14px;
}
.m-header .c .s1{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    padding: 2px;
    background: #00C496;
    border-radius: 2px;
    margin-right: 8px;
}
.m-header .c .s2{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 14px;
}


.m-close{
    height: 32px;
    width: 32px;
    background: url(../img/icon-close.png);
    background-size: cover;
}
.m_con2 .m-close{
    background: url(../img/icon-close-2.png);
    background-size: cover;
}
.m-rmb{
    margin-right: 30px;
    color: #fff;
    display: flex;
    align-items: top
}
.m-rmb span{
    font-family: Gotham-Medium;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    font-weight: 100;
    line-height: 36px;
}

.m-con{
    width: 100%;
    height: 100%;
    overflow: auto;
}


.m-img{
    width: 100%;
}
.m-img-2{
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.m-details{
    padding: 36px;
}
.m-details img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 36px;
}
.m-details p{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 15px;
}
.m-details p:last-child{
    margin-bottom: 0
}

.s-list_16{
    /*overflow: hidden;*/
}
.s-list_16 li{
    padding: 36px;
    /*float: left;*/
    overflow: hidden;
    height: 192px;
    box-sizing: initial;
}
.s-list_16 li .a{
    width: 288px;
    height: 100%;
    margin-right: 36px;
    float: left;
}
.s-list_16 li .a img{
    display: block;
    width: 100%;
    height: 100%;
}
.s-list_16 li .b{   
    float: left;
    height: 100%;
    width: 580px;
}
.s-list_16 li .b p{
    font-family: Alibaba-PuHuiTi-Bold,Gotham-Medium,Axisstd-bold;
    font-size: 24px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 24px;
}
.s-list_16 li .b span{
    font-family: Alibaba-PuHuiTi-Regular,Gotham-Light,Axisstd-regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
}